/* reset = structure de base du css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
    background-image: url(../img/unknown-16.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 2000px;
    min-width: 300px;
	line-height: 1;
    font-size: 1em;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    min-height: 100%;
    color: white;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* fin du reset = structure de base du css */

header {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}


/*.warpper {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-flow: column nowrap;
    font-size: 2em;
    text-align: center;
    margin-top: 8%;
}

/*.aside-left {
    background: black none repeat scroll 0 0;
    display: flex;
    flex-flow: column nowrap;
    height: 150%;
    letter-spacing: 1px;
    position: fixed;
    text-align: center;
    top: 0;
    z-index: 999;
} */

.logo {
    width: 11em;
}

nav {
    background-color: black;
    display: flex;
    justify-content: flex-end;
    flex-flow: row wrap;
    width: 100%;
    z-index: 999;
}

.titre {
    font-size: 4.5em;
    font-family: 'Monoton', cursive;
    color: white;
    text-align: center;
}

span {
  color: #efb31d;
}

h2 {
  font-family: 'Poiret One', cursive;
  font-size: 1.5em;
  text-decoration: underline;
  font-weight: bold;
}

main {
    width: 50%;
    margin: 2em auto;
    font-size: 1em;
    font-family: 'Poiret One', cursive;
    font-weight: bold;
    line-height: 1.1;
}

h3 {
  font-family: 'Poiret One', cursive;
  font-size: 2em;
  text-decoration: underline;
  font-weight: bold;
}

input {
    position: relative;
    padding: 10px;
    border: 3px solid #efb31d;
    border-radius: 1px;
    width: 50%;
    font-size: 1em;
}

input[type="submit"], input[type="reset"] {
  width: 100px;
  margin-left: 5px;
  cursor: pointer;
  background-color: #EFB31D;
}

button[type="submit"] {
    /* width: 20%; */
    margin-left: 5px;
    cursor: pointer;
    background-color: #EFB31D;
    font-family: 'Poiret One', cursive;
    font-weight: bold;
    /* padding: 1em 2em 1em; */
    /* padding: 10px; */
    /* padding-top: 10px; */
    /* padding-right: 10px; */
    /* padding-bottom: 10px; */
    /* padding-left: 10px; */
    font-size: 1em;
}

fieldset {
padding:0 20px 20px 20px;
margin-bottom:10px;
border:1px solid #efb31d;
}

legend {
 color: #FFF;
 font-weight:bold;
 /*text-align: center;*/
 font-size: 1.5em;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: black;
  font-family: 'Poiret One', cursive;
  font-weight: bold;    
}
::-moz-placeholder { /* Firefox 19+ */
    color: black;
    font-family: 'Poiret One', cursive;
    font-weight: bold;
}
:-ms-input-placeholder { /* IE 10+ */
    color: black;
    font-family: 'Poiret One', cursive;
    font-weight: bold;
}
:-moz-placeholder { /* Firefox 18- */
    color: black;
    font-family: 'Poiret One', cursive;
    font-weight: bold;
}

footer {
    background-color: #efb31d;
    font-family: 'Poiret One', cursive;
    display: flex;
    height: 1.5em;
    width: 100%;
    position: fixed;
    bottom: 0;
    justify-content: flex-end;
}

.copyright {
    padding-top: 0.5em;
    color: black;
    font-weight: bold;
    margin-right: 0.7em;
    font-size: 0.78em;
}


{-moz-box-sizing: border-box; box-sizing: border-box;}



#buttonRed {
    
    background-color: red;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

#buttonGreen {
    
    background-color: green;
}

.searchField {
    position: relative;
}

.modal {
    position: absolute;
    z-index:    1000;
    border-radius : 50%;
    height:     10px;
    width:      10px;
    background-color : red;
    content: "";
    right: 48%;
    top: 18px;
}

@media screen and (max-width: 1000px) {
    input {
        width:92%;
    }
    
    .modal {
        right: 6%;
    }
}

@media screen and (max-width:600px) {
    .logo {
        display: none;
    }
    
        main {
        width: 90%;
    }
    
   .titre {
    display: flex;
    font-size: 3.5em;
    flex-flow: row nowrap;
    margin-left: 30%;
    margin-right: 30%;
    }
}

@media screen and (max-width: 400px) {
   .copyright {
    display: flex;
    flex-flow: row nowrap;
    margin-right: 2%;
    margin-left: 2%;
    font-size: 0.53em;
    }
}

@media screen and (max-width:350px) {
    .titre {
        font-size: 3em;
    }
    
}